# Emacs backup files
*~

# Build artefacts
biber
biblex
bibparse
dumpnames

# Other
biber-linux-aarch64/
biber-linux-aarch64.tar.gz
package/biber-linux.tar.gz
package/biber-linux_aarch64.tar.gz
biber-linux_aarch64.tar.gz
*.blg
*.bbl
